@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

/*SideNAV*/
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fac7b4;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav ul li {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav ul li:hover {
    color: #f1f1f1;
}

.sub-menu li {
    font-size: 12px;
    margin: 12px;
}

.btn {
    border-radius: 20px;
    border-color: transparent;
    background-color: #e75a7a;
    margin-left: 30%;
    padding: 5px 5px;
    font-size: 15px;
    font-weight: 10px;
    margin-bottom: 5px;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #e5ddcb;
}

/* Page content */
.main {
    padding-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:12px;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-around;
}